* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sf;
}

body {
    background-color: rgb(255, 255, 255);
}

.linkz {
    font-size: 12px;
    color: rgba(9, 9, 9, 0.8) !important;
    fill: rgba(7, 7, 7, 0.8) !important;
    padding-top:13px;
}

.linkz:hover {
    color: #000000 !important;
}

.linkz:hover svg path {
    fill: #000000 !important;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* header css */
.header {
    background-color: rgb(255, 255, 255);
    color: #000000 !important;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
}

.chung {
    padding: 10px 20px;
    opacity: 1.5;
}

.chung a {
    color: #040404;
}

.header .subnav1 {
    display: none;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 1;
    animation: growDown 3s ease-in-out forwards;
    transform-origin: top center;
}

.h2chung {
    color: rgba(91, 90, 90, 0.8) !important;
    font-size: 12px;
    padding-bottom: 10px;
}
.hang1-cuoi {
    font-size: 12px; 
    color:#000000 !important;
}
.h1chung a {
    color: #000000 !important;
    font-size: 24px;
}
.hang1-padding {
    padding-top: 10px;
}

.h5chung {
    color: #000000 !important;
    font-size: 12px;

}

.chung:hover .subnav1{
    display: block;
}

.subnav11 {
    display: flex;
    justify-content: space-around;
}

.area {
    padding: 0 16px;
}

.under-header {
    width: auto;
    height: 44px !important;
    background-color: #e4e4e4;
}

.under-header p {
    padding-top: 10px;
    color: #000000;
    font-size: 12px;
    text-align: center;
}
.under-header a {
color:#2e8be2;
}
.chung:hover .under-header {
    display: none;
}

.seach-bag {
     color: rgba(0, 0, 0, 0.8) !important;
     padding-top:8px;
}
.seach-bag:hover {
    color:#000000 !important;
}

/*item mac*/

.chapter-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
    padding: 24px 0;
    justify-content: center;
    opacity: 1.5;
    display: flex;
}

.chapter-items {
    display: flex;          
    list-style: none;
    padding-bottom: 50px;
    margin: 0;          
    padding: 0;    
    flex-direction: row;
}

.chapter-item {
    display: flex;
    align-items: center;     
    margin: 0 20px;       
}

.chapter-item:first-child {
    margin-left: 0;
}

.chapter-item:last-child {
    margin-right: 0;         
}

.chapter-icon {
    display: block;
    margin: 0 auto 6px;
    height: 60px;
    width: auto;  
}

.chapter-label,
.chapter-new {
    color:#000000;
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
    text-align: center; 
}

.chapter-new {
    color: red;
}

.text-banner {
    justify-content: space-between;
    display: flex;
    padding-top: 60px;
    align-items: flex-end;
    font-size: 26px;
}

.text-banner1 .text-bn1{
    margin-left: 100px;
    font-size: 70px;
    font-weight: 600;
}

.text-banner2{
    margin-right: 100px;
    font-weight: 600;
}

.vid-banner{
    object-fit: cover;
    position: relative;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.vid-banner video{
    border-radius: 80px;
    max-width: 75%;
    max-height: 50%;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}
.text-banner3{
    padding-bottom: 50px;
}
.text-banner3 .text-bn4{
    margin-left: 110px;
    font-size: 50px;
    font-weight: 600;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.card-custom{
    flex: 0 0 370px;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card-custom:hover {
    transform: scale(1.02);
}
.card-custom .card-img-top{
    border-radius: 30px;
}
.card-custom .card-text, .card-title{
    font-weight: 600;
}
.card-icon-more{
    position: absolute;
    bottom: 20px;
    left: 85%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #474747;
}
.card-icon-more .btnz{
    color:rgb(255, 255, 255);
}
